body{
    background-image: url(2.jpg);
    background-repeat: no-repeat;
    /* background-size: 100vh 100vw; */
    background-attachment: fixed;
    background-size: cover;
}
table, th, td{
    border-collapse: collapse;
    border: 1px solid;
    background-color:blanchedalmond;
}
#test,.white{
    color: white;
}
fieldset{
    background-color: white;
}
button{
    background-color: #97C644;
}
.name{
    background-color: white;
}
